<div mat-dialog-content>
  <mat-form-field class="example-form">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.usuario">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Comentario</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="data.comentario"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button mat-raised-button color="warn" [mat-dialog-close]="data" cdkFocusInitial
    [disabled]="!(data.comentario?.length > 5 && data.usuario?.length > 5)">Comentar</button>
</div>
