<div class="container">

  <div class="item item-1 alianharAoCentro">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>COMPARTILHAR ESCRITA</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/logo/logoCompatilhaEscrita.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>

        <button mat-button (click)="navigateToBuscarTodasPublicacao()" >Buscar todos </button>
        <button mat-button (click)="navigateToCriarPublicacao()" >  Publicar </button>

      </mat-card-actions>
    </mat-card>



    </div>
  </div>

  <div class="container">
    <div class="item item-4">
      Item 4
    </div>
    <div class="item item-5">
      Item 5
    </div>
  </div>







