<div class="container">

  <div class="item item-1 alianharAoCentro">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>COMPARTILHAR ESCRITA</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="assets/logo/logoCompatilhaEscrita.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Escrever, desabafe, discuta e compartilhe seus pensamentos e segredos de forma anônima.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button mat-raised-button color="primary" (click)="navigateToBuscarTodasPublicacao()">Buscar todos
        </button>
        <button mat-button mat-raised-button color="warn" (click)="navigateToCriarPublicacao()"> Publicar </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
